* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-logo {
  width: 60px;
  height: 60px;
}
.content-logo .logo {
  height: 100%;
}

.boton-buscar {
  padding: 10px 20px;
  background-color: #B2B0B0;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*zapatillas index*/
.titulo-zapatillas {
  text-align: center;
  margin-top: 4.375rem;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  color: #B31312;
  font-family: "Nike", sans-serif;
}

.card-body {
  padding: 25px;
  margin-top: -15px;
}
.card-body .card {
  border-radius: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}
.card-body .card-title {
  font-size: 20px;
}
.card-body .card-img-top {
  border-radius: 50px;
  padding: 20px;
}
.card-body .btn-primary:hover {
  background-color: white;
  border: none;
}
.card-body h3, .card-body h5 {
  color: rgb(12, 12, 12);
}

.boton {
  border: 1px solid white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  color: #B31312;
}
.boton .boton:hover {
  background-color: #B31312;
  color: white;
}

/*ropaindex*/
.grid-ropas, .grid-accesorios {
  display: flex;
  justify-content: center;
  background-color: #756AB6;
  margin-top: 20px;
  justify-content: space-around;
  padding: 15px 10%;
  overflow: scroll;
}
.grid-ropas .content-remeras, .grid-ropas .content-accesorios, .grid-accesorios .content-remeras, .grid-accesorios .content-accesorios {
  display: flex;
  width: 100%;
  align-items: flex-end;
  gap: 15px;
}

/*accesorios index*/
.ropa-1-p, .accesorio-1-p {
  height: 300px;
  width: 300px;
  background-color: #DC8686;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.ropa-2-p, .accesorio-2-p {
  height: 280px;
  width: 280px;
  background-color: #FFCF81;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.ropa-3-p, .accesorio-3-p {
  height: 280px;
  width: 280px;
  background-color: #AAD7D9;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.ropa-4-p, .accesorio-4-p {
  height: 280px;
  width: 280px;
  background-color: #fbbc61;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.ropa-5-p, .accesorio-5-p {
  height: 280px;
  width: 280px;
  background-color: #aeddbb;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

/*zapatillas-pag*/
.titulo-zapatillas {
  text-align: center;
  margin-top: 4.375rem;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  color: #B31312;
  font-family: "Nike", sans-serif;
}

.boton {
  border: 1px solid white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  color: #B31312;
}
.boton .boton:hover {
  background-color: #B31312;
  color: white;
}

/*ropa pag*/
.titulo-ropa {
  text-align: center;
  margin-top: 4.375rem;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  color: #B31312;
  font-family: "Nike", sans-serif;
}

.card-img-ropa {
  height: 370px;
  width: 100%;
}

.boton {
  border: 1px solid white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  color: #B31312;
}
.boton .boton:hover {
  background-color: #B31312;
  color: white;
}

/*accesorios pag*/
.titulo-accesorios {
  text-align: center;
  margin-top: 4.375rem;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  color: #B31312;
  font-family: "Nike", sans-serif;
}

.boton {
  border: 1px solid white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  color: #B31312;
}
.boton .boton:hover {
  background-color: #B31312;
  color: white;
}

/*formulario*/
.form-register {
  width: 400px;
  background-color: #6b6b6b;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  color: white;
}
.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.form-register .botons {
  width: 100%;
  background: rgb(64, 64, 170);
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 15px;
  border-radius: 3px;
}
.form-register .controls {
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid rgb(15, 15, 15);
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}
.form-register p a {
  color: white;
  text-decoration: none;
}
.form-register p a:hover {
  color: white;
  text-decoration: underline;
}

.body-contactos {
  background-image: url(../assets/img/fondo/fondo.avif);
  background-position: center;
}

.tienda-nike {
  background-image: url(../assets/img/fondo_nike.jpg);
  background-color: rgb(247, 247, 247);
  height: 100%;
  height: 600px;
  background-size: cover;
  background-position: 0% 80%;
  margin-top: 20px;
}

.fondo-nike {
  background-image: url(../assets/img/imagen-nike-ropa.jpg);
  background-color: rgb(247, 247, 247);
  height: 100%;
  height: 350px;
  background-size: contain;
  margin-bottom: 20px;
}

.fondo-nike-2 {
  background-image: url(../assets/img/imagen-nike-accesorios.jpg);
  background-color: rgb(247, 247, 247);
  height: 100%;
  height: 350px;
  background-size: contain;
  margin-bottom: 20px;
}

.fondo-adidas {
  background-image: url(../assets/img/fondo/adidas-1.jpg);
  background-color: rgb(247, 247, 247);
  height: 100%;
  height: 350px;
  background-size: contain;
  margin-bottom: 20px;
}

.fondo-inicial {
  background-color: rgb(247, 247, 247);
  height: 500px;
  background-image: url(../assets/img/fondo_inicial.jpg);
  background-size: cover;
  background-position: 0% 50%;
}

.boton-buscar {
  padding: 10px 20px;
  background-color: #B2B0B0;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) and (max-width: 768px) {
  .card-img-ropa {
    height: 250px;
    width: 100%;
  }
  .fondo-inicial {
    background-image: url(../assets/img/fondo-ini/vestidor.jpeg);
  }
  .card-title {
    font-size: 15px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .pie-pagina {
    padding: 10px;
    height: 200px;
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .content-items-footer {
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    position: relative;
    right: 4.6875rem;
  }
}
@media (max-width: 320px) and (max-width: 320px) {
  .card-img-ropa {
    height: 300px;
    width: 100%;
  }
  .fondo-inicial {
    background-image: url(../assets/img/fondo-ini/vestidor.jpeg);
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .pie-pagina {
    padding: 10px;
    height: 200px;
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .content-items-footer {
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    position: relative;
    right: 4.6875rem;
  }
}
.pie-pagina {
  background-image: linear-gradient(to right, rgba(172, 170, 170, 0.884), rgba(177, 177, 175, 0.788));
  padding: 100px;
  width: 100%;
  height: 300px;
}
.pie-pagina ul p {
  font-size: 20px;
}
.pie-pagina li {
  list-style: none;
  font-size: 20px;
}
.pie-pagina li a {
  font-size: 25px;
}
.pie-pagina .content-items-footer {
  display: flex;
  justify-content: space-evenly;
}

/*# sourceMappingURL=style.css.map */
