.pie-pagina{
    background-image: linear-gradient(to right, rgba(172, 170, 170, 0.884) , rgba(177, 177, 175, 0.788));
    padding: 100px;
    width: 100%;
    height: 300px;
    ul p{
        font-size: 20px;
    }
    li{
        list-style: none;
        font-size: 20px
        
    }
    li a{
        font-size: 25px;
    }
    .content-items-footer{
        display: flex;
        justify-content: space-evenly
    }
}

