
.content-logo{
    width: 60px;
    height: 60px;
    .logo{
        height: 100%;
    }
}
.boton-buscar{
    padding: 10px 20px;
    background-color: #B2B0B0;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}