/*accesorios pag*/

.titulo-accesorios{
    text-align: center;
    margin-top: 4.375rem;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    color: map-get($colores, color1 );
    font-family: 'Nike', sans-serif;
}
.boton{
    border: 1px solid white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    color: #B31312;
    .boton:hover{
        background-color: #B31312;
        color: white;
    }
}


