/*zapatillas index*/

.titulo-zapatillas{
    text-align: center;
    font-size: 30px;
    color: map-get($colores , color1 );
}

.grid-zapatillas{
    @include flex (center);
    width: 100%;
    padding: 0 10%;
    margin: 50px 0;
    .content-images{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        height: 100%;
    }
    .zapatilla{
        height:  100%;
        width: 100%;
        background-color: map-get($colores , color2 );
        border-radius: 20px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }
    .zapatilla:hover{
        transform: scale(1.1)
    }
}


/*ropaindex*/

.grid-ropas, .grid-accesorios{
    @include flex (center);
    background-color: #756AB6;
    margin-top: 20px;
    justify-content: space-around;
    padding: 15px 10%;
    overflow: scroll;
    .content-remeras, .content-accesorios{
        display: flex;
        width: 100%;
        align-items: flex-end;
        gap: 15px;
    }
}



/*accesorios index*/

.ropa-1-p, .accesorio-1-p{
    height: 300px;
    width: 300px;
    background-color: #DC8686;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}
.ropa-2-p, .accesorio-2-p{
    height: 280px;
    width: 280px;
    background-color: #FFCF81;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.ropa-3-p, .accesorio-3-p{
    height: 280px;
    width: 280px;
    background-color: #AAD7D9;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}
.ropa-4-p, .accesorio-4-p{
    height: 280px;
    width: 280px;
    background-color: #fbbc61;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}
.ropa-5-p, .accesorio-5-p{
    height: 280px;
    width: 280px;
    background-color: #aeddbb;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}