/*ropa pag*/

.titulo-ropa{
    @include titulo;
    margin-top: 4.375rem;
    font-size: 30px;
    color: map-get($colores, color1 );
    font-family: 'Nike', sans-serif;
}

.card-img-ropa{
    height: 370px;
    width: 100%;
}
.boton{
    border: 1px solid white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    color: map-get($colores, color1 );
    &:hover{
        background-color: #B31312;
        color: white;
    }
}