@media (max-width: 320px){
    .card-img-ropa{
        height: 300px;
        width: 100%;
    }
    .fondo-inicial{
        background-image: url(../assets/img/fondo-ini/vestidor.jpeg);
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .pie-pagina {
        padding: 10px;
        height: 200px;
        font-size: 15px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .content-items-footer {
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;
        position: relative;
        right: 4.6875rem;
    }
}


