@media (max-width: 768px){
    .grid-zapatillas-pag{
        .zapatilla-p{
            height: 210px;
        }
    }
    .grid-accesorios-pag{
        .accesorio{
            height: 210px;
        }
    }
    .grid-ropa-pagina{
        .ropa{
            height: 210px;
        }
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .pie-pagina {
        padding: 10px;
        height: 200px;
        font-size: 15px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .content-items-footer {
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;
        position: relative;
        right: 4.6875rem;
    }
}